.comment-item .user-cardmall-url {
    position: absolute;
    top: 6px;
    right: 0;
}

.comment-item .user-cardmall-url img {
    width: 88px;
    height: 50px;
    -webkit-user-drag: none;
}

@media screen and (max-width: 768px){
    .comment-item .user-cardmall-url img {
        width: 63px;
        height: 35px;
    }
}
