.comment .gravatar, .comment .gravatar img {
    border-radius: 50%!important;
}
.comment-pendant-img{
    width: 53px;
    height: 53px;
    position: absolute;
    z-index: 1;
    -webkit-user-drag: none;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%) scale(1.1);
    margin-left: 18px;
    margin-top: 18px;
}
@media screen and (max-width: 768px){
    .comment .gravatar {
        left: 5px!important;
        top: 5px!important;
    }
    .comment-pendant-img {
        width: 44px;
        height: 44px;
        margin-left: 20px;
        margin-top: 20px;
    }
}
